#cardOutput {
    width: 60%;
    margin: auto;
    max-width: unset;
	padding-top: 3rem;
}

.cardImg {
    max-width: 100%;
    height: auto;
	height: 235px;
    width: auto;
}

.cardRow {
    margin-bottom: 20px;
}

.containerBody {
    width: 100%;
    max-width: unset;
}

#cardList{
	width: 100%;
}

.form-group {
    margin-top: 1rem;
}

small.form-text.text-muted {
    display: block;
}

.form-controls {
    position: fixed;
}

.stackedCardImg {
    display: inline;
    position: absolute;
}

.stackedCardContainer {
    position: relative;
}